.footerContainer {
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  height: 5rem;
  width: 100%;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.05em solid;
}
.menu link {
  display: flex;
  justify-content: column;
  align-items: center;
}
.menu {
  color: #868686;
  text-decoration-line: none;
  margin: 10px;
}
.menu {
  filter: invert(68%) sepia(7%) saturate(0%) hue-rotate(180deg) brightness(87%)
    contrast(84%);
}
