.roomContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ebebeb;
  padding: 20px;
  height: 100vh;
}

h3 {
  align-self: flex-start;
  margin: 0;
}

.roomlist {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 300px;
  background-color: #ffffff;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 70%;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
}

.discount {
  color: #45bc53;
  font-size: larger;
}

button {
  width: 160px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 10%;
  border: 0;
  color: #878787;
  margin-top: 20px; /* 버튼 위에 여백 추가 */
  font-size: 20px;
}
