.purchaseContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.category {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  color: #3e3e3e;
}
.box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  margin: 10px; /* 모바일에서 마진 설정 */
  padding: 20px; /* 내부 패딩 추가 */
  border-radius: 10px;
  background-color: #45bc53;
  color: #f2f2f2;
  font-weight: bolder;
  background-image: url("../img/Pattern.png");
}
.message {
  display: flex;
  text-align: left;
  margin-left: 10px;
}

h3 {
  text-align: left; /* 모바일에서 텍스트 왼쪽 정렬 */
  margin: 10px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 섹션 간의 간격 추가 */
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px; /* 모바일에서 마진 설정 */
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 추가 */
  margin: 5px; /* 여백 추가 */
  flex: 1 1 calc(33.333% - 10px); /* 모바일에서 한 줄에 3개씩 배치 */
  max-width: calc(33.333% - 10px); /* 모바일에서 한 줄에 3개씩 배치 */
  box-sizing: border-box; /* 패딩과 경계 너비를 포함하여 크기 계산 */
}

.item {
  width: 70px; /* 모바일에서 작은 아이템 크기 */
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
}

.itemName {
  font-size: small;
  text-align: center;
  font-weight: bolder;
  margin-top: 3px;
  color: #1d1d21;
}
